*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
}

body{
    position: relative;
    
}

#main{
   
}

#header{
    top: 0;
    right: 0;
    left: 0;
    position: absolute;
    display: flex;
    height: 5rem;
    background-color: rgba(0,0,0,0.2);
    padding: 0rem 1.25rem;
    box-shadow: 0rem 0.3125rem 0.625rem rgb(0 0 0 / 10%);
    z-index: 10;
}

.header-logo-link{
    height: 100%;
    display: flex;
    align-items: center;
}

.header-logo-img{
    height: 3rem;
}

.header-list{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-evenly;
    margin-bottom: 0;
    padding-right: 2rem;
    
    
}

.header-list-item{
    list-style: none;
    
}

.list-item-text{ 
    text-decoration: none;
    color: #fff;
    font-size: 0.9375rem;
    font-weight: bolder;
    line-height: 5rem;
    position: relative;
}

.header-list > li:hover > a{
    color: #fff;
}

.header-icon{
    display: flex;
    align-items: center;
    margin-bottom: 0;
}

.header-icon > li > a:hover{
   color: #fff;
   
}

.list-icon{
    display: inline-block;
}
.list-icon-link{
   font-size: 1.375rem;
   color: #fff;
   padding: 0rem 0.625rem;
   display: block;
   position: relative;
}

.list-icon-btn{
    position: absolute;
    top: 100%;
    right: 10px;
    background-color: #fff;
    width: 400px;
    border-radius: 2px;
    box-shadow: 0 0.0625rem 0.25rem rgb(0 0 0 / 20%);
    display: none;
    text-align: center;
    min-height: 90px;
}

.list-icon-cart i{
    line-height: 80px;
}

.list-icon-link:hover .list-icon-btn{
    display: block;
}

.header__cart--no-cart-text{
    color: #000;
    font-size: 18px;
    margin-top: 10px;
}

.header__cart--no-cart{

}

.header-list-btn{
    display: none;
    position: absolute;
    background-color: #fff;
    min-width: 12.75rem;
    box-shadow: 0 0.0625rem 0.25rem rgb(0 0 0 / 20%);
    margin-left: -2.625rem;
    border: 0.1px solid #ccc;
}
.header-list-btn li a{
    text-decoration: none;
}

.list-item-text-btn {
    color: #808080;
    font-weight: bolder;
}

.header-list-item-btn{
    list-style: none;
    padding: 1.125rem 0rem;
    margin-left: 0.5rem;
}

.header-list-btn li:hover a{
    color: #3fd0d4;
   
}

.header-list-btn li:hover {
    transform: translateX(0.3125rem);
}

.header-list li:hover .header-list-btn{
    display: block;
}



#slider{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    overflow: hidden;
}

.background-video{
    position: absolute;
    z-index: -1;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    background-size: cover;
    width: 100%;
}


.nav-tab-heading{
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}

.nav-tab-heading-btn{
    font-size: 56px;
    color: #fff;
    font-style: italic;
    font-family: Satisfy,cursive;
    font-weight: 600;
}
   

.nav-tab{
    margin-top: 1.875rem;
    width: 65%;
    justify-content: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.nav-form-control{
    display: flex;
}
.nav-form-control-btn, .nav-select{
    width: 19.0625rem;
    padding: 0rem 0.1875rem;
}

.nav-buttons{
    padding: 0rem 0.1875rem;
    
}

.button1{
    border: none;
    text-transform: uppercase;
    background-color: #3fd0d4;
    color: #fff;
    width: 8.3125rem;
    height: 50px;
    border-radius: 5px;
}

.button1:hover {
    background-color: #008080;
}


#content{
    margin-top: 5rem;
   
}


.content-section{
    padding-bottom: 8.125rem;
}

.content-heading-text{
    
    padding-bottom: 2.9375rem;
}

.content-heading-text-1{
    padding-top: 6.3125rem;
    padding-bottom: 2.9375rem;
}


.content-heading-text-3{
    padding-top: 6.875rem;
   
}

.section-heading{
    display: flex;
    justify-content: center;
    color: #3fd0d4;
    font-size: 2.0625rem;
    font-family: Satisfy,cursive;
    font-style: italic;
}

.section-text {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.section-sub-heading{
    display: flex;
    justify-content: center;
    font-size: 4.0625rem;
}

.content-heading-sub-text {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 17px;
}

.section-sub-heading-1{
    display: flex;
    justify-content: center;
    font-size: 4.0625rem;
    color: #fff;
}

.content-section-2{
    background-image: url('../img/background2.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 55.1875rem; 
}

.content-section-1{
    background-image: url('../img/background3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 52.625rem;  
    
}

.content-section-3{
    background-image: url('../img/background4.jpg');
    background-repeat: no-repeat;
    background-size: 100%;   
    height: 62.5rem;
}

.content-section-3-list{
    display: flex;
    padding: 0rem 4.375rem;
}


.content-section-3-item{
    width: 33.3333%;
    padding: 0rem 1.25rem;
    position: relative;
}

.content-section-3-link{
    text-decoration: none;
}

.content-section-3-price{
    
}

.content-section-3-price h5{
    position: absolute;
    color: #fff;
    bottom: 12%;
    left: 40%;
    font-weight: 700;
    font-size: 1.5625rem;
}

.content-section-3-price p{
    position: absolute;
    color: #fff;
    bottom: 0.3125rem;
    left: 44%;
    font-weight: 700;
    font-size: 1.25rem;
}

.content-section-3-link img{
    width: 100%;
}

.content-section-5{
    background-image: url('../img/background3.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    height: 48.375rem;
    background-attachment: fixed;
}
.content-section-4{
    background-image: url('../img/convoi.jpg');
    background-repeat: no-repeat;
    background-size: 100%; 
    height: 56.25rem;
    background-attachment: fixed;
}

.content-section-6{
    padding: 6.25rem 0.9375rem 4.25rem 0.9375rem;
    margin: 0rem 5rem;
}

.content-section-6-btn{
   width: 60%;
}

.From-Our-Blog-item{
    display: flex;
    margin-top: 3.875rem;
}

.From-Our-Blog-text-1{
   width: 70%;
   padding-left: 0.9375rem;
}

.From-Our-Blog-heading{
    font-size: 2.5rem;
}

.From-Our-Blog-heading-text{
    font-size: 1.0625rem;

}

.From-Our-Blog-img{
    width: 22%;
}

.From-Our-Blog-img img{
    width: 100%;
    display: block;
}

.From-Our-Blog-heading-btn{
    font-size: 1.375rem;
    font-weight: 700;
}

.From-Our-Blog-text-btn{
    font-size: 0.875rem;
    color: #505050;
}

.calender{
    padding-top: 0.75rem;
}

.calender-link{
    font-size: 0.875rem;
    color:#212121;
    display: flex;
    text-decoration: none;
    font-weight: 600;
}

.cl1{
    padding-left: 1.25rem;
}

.calender-link:hover p {
    color: #3fd0d4;
}

.calender-link:hover i{
    color: #3fd0d4;
}

.calender-link i{
   margin-top: 0.25rem;
   padding-right: 0.1875rem;
   font-size: 0.875rem;
}


.calender{
    display: flex;
}

.content-section-6{
    display: flex;
}

.content-section-6-sale{
    width: 30%;
    margin-top: 1.25rem;
}

.content-section-6-sale img{
    width: 100%;
}

.text-sale{
    background-color: #3fd0d4;
}

.text-sale-heading{
    font-style: italic;
    font-family: cursive;
    text-align: center;
}

.text-sale-70{
    color: #fff;
    text-align: center;
}


.content-heading-sub-text-1{
    text-align: center;
    font-size: 1.0625rem;
    margin-top: 0.75rem;
    color: #fff;
}

.section-slide-list{
    display: flex;  
}

.section-slide-item{
    width: 33.33333%;
    display: flex;
    background-color: #fff;
    border-radius: 20px;
    padding: 2.5rem 1.875rem;
    margin: 0px 10px;
}

.content-place{
    padding: 20px 4.375rem;
}

.content-place-list{
    display: flex;
    justify-content: space-evenly;
    padding: 0.9375rem 0rem;
}

.content-place-item{
    width: 25%;
    padding: 0rem 0.9375rem;
    position: relative;
}

.place-item-text1{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-style: italic;
    font-size: 2.875rem;
    font-family: cursive ;
}

.place-item-img{
    width: 100%;
    transition: 1s;
}
.place-item-link{
    text-decoration: none;
    overflow: hidden;
    
}

.place-item-link:hover img{
    transform: scale(1.1);
    transition: 1s;
}

.place-item-list{
    position: absolute; 
    bottom: 0rem;
    left: 1.25rem;
    color: #fff; 
    width: 100%;
}

.place-item-text{
    font-weight: 700;
    font-size: 1.25rem;
}

.place-item-btn{
    display: flex;
    width: 70%;
}

.place-item-price{
    width: 30%;
}

.place-item-icon{
    display: flex;
    font-weight: 700;
    width: 100%;
}

.place-item-icon i{
  margin-top: 0.1875rem;
  padding-right: 0.3125rem;
}

.pit1{
    border-radius: 50%;
}

.place-item-link:hover .pit-1{
    transform: scale(1.1);
    transition: 1s;
}



.greetings-from-paris{
    display: flex;
    justify-content: center;
    padding-top: 3.5rem;
}

.video{
    text-align: center;
    margin-top: 3.75rem;
}

.video-water{
    width: 1000px;
    height: 480px;
}


.row{
    text-align: center;   
    padding: 7.75rem 0rem;
 }
 
.col-3-list-img:hover{
    transform: translateY(-0.3125rem);
}

.col-3-list-heading{
    font-weight:700;
   font-size: 1.125rem;
   padding-top: 1.6875rem;
}

.col-3-list-heading-text{
    font-size: 0.875rem;
    
}

#slider{
    
}

#slider-btn{
    width: 100%;
}

.slider-btn-tour{
    display: flex;
    margin-top: 20px;
}

.tour{
    margin: 1.125rem 0rem;
    width: 25%;
    background-color: #fff;
}

.tour-1{
    padding-right: 0.5rem;
   
}

.tour-2{
    padding: 0rem 0.25rem;
}

.tour-3{
    padding: 0rem 0.25rem;
}

.tour-4{
   padding-left: 0.5rem;
}

.tour-link-img{
   
}

.tour-list{
    width: 100%;
   
}

.tour-list:hover{
   padding: 0 !important;
}

.tour-heading{
    border-bottom: 0.0625rem #EEEEEE solid;
    border-left: 0.0625rem #EEEEEE solid;
    border-right: 0.0625rem #EEEEEE solid;
    padding-bottom: 0.9375rem;
}

.tour-heading-btn{
    padding-top: 1.9375rem;
    padding-bottom: 1.75rem;
}

.tour-heading-btn a{
    text-decoration: none;
}

.tour-heading-btn .text-heading:hover{
    color: #3fd0d4;
}

.text-heading{
    display: flex;
    align-items: center;
    justify-content: center;
    color: #000;
}

.sub-text-heading{
    margin-bottom: 0rem;
    text-align: center;
}

.ticket{
    display: flex; 
    align-items: center;
    justify-content: space-evenly;
}

.ticket-label {
    height: 2.5rem;
    background-color: #3fd0d4;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.ticket-item{
    padding-left: 1.125rem;
    font-weight: 600;
}

.ticket-label-icon{
    padding: 0rem 1.125rem;
    color: #fff;
    font-size: 0.875rem;
    line-height: 2.5rem;
}

.label-icon-text{
    padding-left: 0.625rem;
}

.img-slide{
    margin-right: 1.25rem;
}


.section-item-list-link {
    text-decoration: none;
}

.section-item-list-link:hover h4{
    color: #3fd0d4;
}


.item-list-heading-text{
    font-size: 1.375rem;
    color: #000;
}

.item-list-icon-btn {
    color: #3fd0d4;
    font-size: 0.75rem;
}

.item-list-text {
    font-size: 0.875rem;
    margin-top: 0.625rem;
}

.item-list-heading-text-btn {
    font-size: 0.9375rem;
    font-weight: 700;
}

.section-text-1{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.content-heading-sub-text-2{
    text-align: center;
    font-size: 1.0625rem;
    margin-top: 0.75rem;
    color: #000;
    padding-bottom: 1.875rem;
}


.place-list{
    display: flex;
}

.place-item{
    width: 33.3333%;
    margin: 0rem 4.9375rem;
    text-align: center;
    position: relative;
}


.place-img{
    width: 100%;
    border-radius: 50%;
}

.place-text{
    padding-top: 0.9375rem;
    color: #fff;
    font-size: 2.0625rem;
    font-family: Satisfy,cursive;
    font-style: italic;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.place-link{
    text-decoration: none;
}


.content-section-place-list{
    display: flex;
    
}

.content-section-place-item{
    width: 33.333333%;
    padding: 0rem 5rem;
    text-align: center;
    position: relative;
}

.content-section-place-item img{
    width: 100%;
}



#about{
    height: 8.75rem;
    background-color: #3fd0d4;
   
}
.about-btn{
    padding: 2.5rem 0rem;
    align-items: center;
    display: flex;  
    text-align: center;   
}

.about-text{
    width: 60%;
}

.about-sub-text{
    font-size: 1.375rem;
    color: #fff;
    font-weight: 600;   
}

.about-buttom{
    width: 40%;
}

.about-buttom-btn{
    text-transform: uppercase;
    padding: 1.125rem 4.125rem;
    border: none; 
   
}

.about-buttom .about-buttom-btn:hover{
    color: #fff;
    background-color: #23a9af;
}

#footer{
    
    width: 100%;
    background-color:#212121 ;
    z-index: 100;
}

.footer-list{  
    padding: 6.625rem 5rem 4.875rem 5rem;
}

.size-logo{
    width: 100%;
}

.footer-list{
    display: flex;
    flex-wrap: wrap;
}

.footer-list-btn{
    width: 25%;
    padding: 0rem 0.9375rem;
 }

.text-item{
    color: #a9a9a9;
    margin-top: 1.25rem;
    margin-bottom: 1.125rem;
    
}

.footer-link{
    display: block;
    color: #fff;
    margin-bottom: 0.25rem;
}

.icon-link{
    font-size: 0.875rem;
}

.footer-link-text{
    font-size: 0.875rem;
    padding-left: 0.625rem;
}

.footer-list a:hover {
    color: #3fd0d4;
}

.footer-heading{
    color: #fff;
    font-size: 1.125rem;
    
}

.footer-heading-text{
    margin-bottom: 1.625rem;
    
}

.blog-list{
    padding-left: 0rem;
}

.blog-list-item{
   margin-bottom: 1.875rem;
    list-style-type: none;
}

.blog-link{
    text-decoration:none;
}

.blog-link-text{
    color: #a9a9a9;
    margin: 0.625rem 0rem;
}


.day{
    margin-top: 0.6875rem;
    color: #fff;
}

.footer-login{
    margin-top: 1.25rem;
}

.input-list{
    width: 100%;
    height: 3.125rem;
    background-color: #b1b2b2;
    margin-bottom: 0.3125rem;
}

.subscribe:hover .subscribe-btn{
    background-color: #23a9af;
}

.subscribe-btn{
    width: 100%;
    height: 3.125rem;
    background-color: #3fd0d4;
    color: #fff;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 0.875rem;
    border: none;
}

#sub-footer{
    height: 4.25rem;
    width: 100%;
    background-color:#212121 ;
    display: flex;
    align-items: center;
    color: #fff;
    justify-content: center;
    font-size: 13;
}
.sub-footer-text{
    margin-bottom: 0;
    margin-right: 0.125rem;
}

.sub-text-link{
    margin-left: 0.125rem;
    color: #fff;
    text-decoration: none;
}

.sub-text-link:hover {
    color: #3fd0d4;
}

